/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
};
